PORT=3000

DB_HOST=asthra-dev-master-server.cluster.asthrahealthtech.com
DB_PORT=30432
DB_NAME=devops_sandbox
DB_USER=devops_sandbox
DB_PASSWORD=your_password_here
DB_SSL=true

FILE_PATH=./data/data.txt
